//-------- Write Fonts Start -------

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//-------- Write Fonts End -------

//-------- Import Start -------
@import "_fonts";
@import "_media";
@import "_nullstyle";
@import "_vars";
@import "_mixin";
@import "_vars";
@import "header/_style_header";
//-------- Import End -------

/*-------- Scrollbar Start -------*/

::selection {
  color: #ffffff;
  background-color: #5b75a6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #5b75a6;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(5, 37, 95, 0.25)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/*-------- Scrollbar End -------*/

/*-------- Login Start -------*/

.bg__login {
  background-color: #5b75a6;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 2vmax 2vmax;

  &__container {
    max-width: 1920px;
    margin: 0 auto;
    @media (max-width: 1199px) {
    }
  }

  &__bg {
    max-width: 1300px;
    width: 100%;
    max-height: 720px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 767px) {
      height: max-content;
    }
  }

  &__bg-login-7 {
    justify-content: center;
    row-gap: 25px;
    @media (max-width: 767px) {
      row-gap: 10px;
    }
  }

  &__title {
    @include font(bold, 54px, 74px, #000);
    @include adaptiv-font(54, 15);
    text-align: center;
  }

  &__title-login-1 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__title-login-2 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__title-login-3 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__title-login-4 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__title-login-5 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__title-login-6 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__title-login-7 {
    margin-top: 0px;
  }

  &__input-number {
    display: flex;
    gap: 68px;
    margin-top: 96px;

    @media (max-width: 767px) {
      margin-top: 3vmax;
      gap: 50px;
    }
  }
  &__input-item {
    width: 150px;
    height: 150px;
    background: #ffffff;
    border: 3px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    @include font(bold, 54px, 74px, #000);
    @include adaptiv-font(54, 15);
    text-align: center;

    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
      border-radius: 15px;
      @include font(bold, 54px, 45px, #000);
      @include adaptiv-font(54, 15);
    }
  }

  &__photo-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__photo-select-login-4 {
    margin-top: 10px;
  }

  &__photo-img {
    width: 200px;
    height: 200px;
    border-radius: 75px;

    @media (max-width: 767px) {
      width: 100px;
      height: 100px;
      border-radius: 35px;
    }
  }

  &__photo-placeholder {
    width: 200px;
    height: 200px;
    background: #c4c4c4;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(bold, 54px, 74px, #000);
    @include adaptiv-font(54, 30);

    @media (max-width: 767px) {
      width: 100px;
      height: 100px;
      border-radius: 35px;
    }
  }

  &__photo-placeholder-login-3 {
    margin-top: 68px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__photo-name {
    @include font(bold, 42px, 57px, #000);
    @include adaptiv-font(42, 15);

    @media (max-width: 767px) {
      @include font(bold, 42px, 37px, #000);
      @include adaptiv-font(42, 14);
    }
  }

  &__photo-name-login-3 {
    margin-top: 11px;
  }

  &__info {
    @include font(600, 48px, 65px, #000);
    @include adaptiv-font(48, 14);
    text-align: center;
    max-width: 711px;
    width: 100%;
    @media (max-width: 767px) {
      @include font(600, 48px, 35px, #000);
      @include adaptiv-font(48, 14);
    }
  }

  &__info-login-1 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__info-login-2 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__info-login-3 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__info-login-4 {
    margin-top: 10px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__info-login-5 {
    margin-top: 45px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__info-login-6 {
    margin-top: 77px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__input-name {
    max-width: 600px;
    width: 100%;
    height: 70px;
    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 25px;
    text-align: center;
    @include font(normal, 42px, 57px, #000000);
    @include adaptiv-font(42, 20);

    &::placeholder {
    }

    @media (max-width: 767px) {
      @include font(normal, 42px, 35px, #000000);
      @include adaptiv-font(42, 15);
    }
  }

  &__input-name-login-2 {
    margin-top: 79px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__input-tel {
    max-width: 600px;
    width: 100%;
    height: 70px;
    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 25px;
    text-align: center;
    @include font(normal, 42px, 57px, #000000);
    @include adaptiv-font(42, 20);
    &::placeholder {
    }

    @media (max-width: 767px) {
      @include font(normal, 42px, 35px, #000000);
      @include adaptiv-font(42, 15);
    }
  }

  &__input-tel-login-5 {
    margin-top: 45px;
  }

  &__photo-input {
  }

  &__photo-input-login-4 {
    display: none;
  }

  &__photo-input-castom {
    @include font(600, 42px, 57px, #5b75a6);
    @include adaptiv-font(42, 15);
    &:hover {
      cursor: pointer;
    }
  }

  &__photo-input-castom-login-4 {
    margin-top: 48px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
    width: 350px;
    height: 70px;
    background: #5b75a6;
    border-radius: 50px;
    &:hover {
      cursor: pointer;
      background: #5b75a6e7;
    }

    @media (max-width: 767px) {
      max-width: 350px;
      width: 100%;
      height: 70px;
    }
  }

  &__button-login-1 {
    margin-top: 96px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__button-login-2 {
    margin-top: 70px;
    width: 250px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
      width: 100%;
    }
  }

  &__button-login-3 {
    margin-top: 47px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__button-login-4 {
    margin-top: 46px;
    width: 250px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
      width: 100%;
    }
  }

  &__button-login-5 {
    margin-top: 45px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__button-login-6 {
    margin-top: 96px;
    @media (max-width: 767px) {
      margin-top: 3vmax;
    }
  }

  &__button-title {
    @include font(600, 30px, 41px, #fff);
    @include adaptiv-font(30, 20);

    @media (max-width: 767px) {
      @include font(600, 30px, 25px, #fff);
      @include adaptiv-font(30, 14);
    }
  }

  &__link-sign-in {
    @include font(600, 30px, 41px, #5b75a6);
    @include adaptiv-font(30, 15);
    &:hover {
      cursor: pointer;
      color: #5b75a6e7;

      @media (max-width: 767px) {
        @include font(600, 30px, 25px, #5b75a6);
        @include adaptiv-font(30, 14);
      }
    }
  }

  &__link-sign-in-login-1 {
    margin-top: 11px;
  }

  &__link-sign-in-login-2 {
    margin-top: 11px;
  }

  &__link-sign-in-login-3 {
    margin-top: 11px;
  }

  &__link-sign-in-login-4 {
    margin-top: 11px;
  }

  &__link-sign-in-login-5 {
    margin-top: 11px;
  }

  &__link-sign-in-login-6 {
    margin-top: 11px;
  }

  &__policy {
    max-width: 674px;
    width: 100%;
    text-align: center;
    @include font(600, 30px, 41px, #55ab67);
    @include adaptiv-font(30, 15);
  }

  &__policy-login-5 {
    margin-top: 30px;
  }

  &__policy-login-6 {
    margin-top: 30px;
  }

  &__loader {
    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }
}

/*-------- Login End -------*/

/*-------- Rooms Start -------*/

.bg__white {
  background-color: #fff;
}

.rooms {
  margin-top: 70px;

  &__container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__info-title {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin-top: 77px;
  }

  &__title {
    @include font(bold, 48px, 65px, #000);
    @include adaptiv-font(48, 65);
  }

  &__button-explore {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 250px;
    height: 70px;
    background: #e0e0e0;
    border-radius: 50px;
    padding: 10px 19px;
    justify-content: center;
  }

  &__button-explore-title {
    @include font(bold, 30px, 41px, #000);
    @include adaptiv-font(30, 21);
  }

  &__new-room {
    display: flex;
    align-items: center;
    column-gap: 12px;
    width: 250px;
    height: 70px;
    background: #55ab67;
    border-radius: 50px;
    padding: 10px 16px;
    justify-content: center;
  }

  &__new-room-title {
    @include font(bold, 30px, 41px, #fff);
    @include adaptiv-font(30, 21);
  }

  &__list-bg {
    background-color: #f1efe5;
    border-radius: 50px 50px 0px 0px;
    margin-top: 54px;
    min-height: 100vh;
    max-height: max-content;
    padding: 0 1vmax 2vmax 1vmax;
  }

  &__list-container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }

  &__list {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 115px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
  }

  &__list-item {
    max-width: 450px;
    width: 100%;
    height: max-content;
    background: #5b75a6;
    border-radius: 35px;
    padding: 22px 47px 24px 47px;
  }

  &__list-item-title {
    @include font(bold, 42px, 57px, #fff);
    @include adaptiv-font(42, 20);
  }

  &__list-item-logo-users {
    margin-top: 6px;
    display: flex;
    column-gap: 16px;
  }

  &__list-img-user {
    display: flex;
    gap: 16px 9px;
    width: 116px;
    flex-wrap: wrap;
  }

  &__list-img-user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 15px;
  }

  &__list-item-users {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__list-item-users-block {
    display: flex;
    column-gap: 5px;
    align-items: center;
    & svg {
      fill: #fff;
    }
  }

  &__list-item-users-name {
    @include font(600, 18px, 25px, #fff);
    @include adaptiv-font(18, 10);
  }

  &__list-item-count-user {
    display: flex;
    column-gap: 19px;
    margin-top: 16px;
    justify-content: flex-end;
  }

  &__list-item-count-user-rooms {
    display: flex;
    column-gap: 5px;
    align-items: center;
    & svg {
      fill: #fff;
    }
  }

  &__list-item-count-user-rooms-title {
    @include font(normal, 15px, 20px, #fff);
    @include adaptiv-font(15, 10);
  }

  &__list-item-count-user-voice {
    display: flex;
    column-gap: 5px;
    align-items: center;
    & svg {
      fill: #fff;
    }
  }

  &__list-item-count-user-voice-title {
    @include font(normal, 15px, 20px, #fff);
    @include adaptiv-font(15, 10);
  }
}
/*-------- Rooms End -------*/
/*-------- People Start -------*/

.people {
  margin-top: 70px;

  &__container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__info-title {
    display: flex;
    column-gap: 46px;
    justify-content: center;
    margin-top: 77px;
    align-items: center;
  }

  &__title {
    @include font(600, 30px, 41px, #000);
    @include adaptiv-font(30, 21);
  }

  &__list-user-bg {
    background-color: #f1efe5;
    border-radius: 50px 50px 0px 0px;
    margin-top: 54px;
    height: max-content;
  }

  &__list-user-container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }

  &__list-info-room {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__list-room-title {
    @include font(bold, 42px, 57px, #000);
    @include adaptiv-font(42, 20);
  }

  &__block-leave {
    display: flex;
    column-gap: 34px;
  }

  &__button-hand {
    width: 70px;
    height: 70px;
    background: #f2f2f2;
    border-radius: 50px;
    &:hover {
      & svg {
        fill: rgb(235, 235, 10);
      }
    }
  }

  &__button-leave {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 260.4px;
    height: 70px;
    background: #f2f2f2;
    border-radius: 60px;
    @include font(600, 30px, 40px, #55ab67);
    @include adaptiv-font(30, 20);
    &:hover {
      background: #5b75a6;
      color: #000;
    }
  }

  &__list-voice-user {
    display: flex;
    gap: 40px 10px;
  }

  &__list-voice-user-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
  }

  &__list-voice-user-block-photo {
    border: 4px solid #5b75a6;
    border-radius: 35px;
    position: relative;
    padding: 5px;
  }

  &__list-voice-user-item-photo {
    width: 105px;
    height: 105px;
    border-radius: 35px;
    border: 1.875px solid rgba(0, 0, 0, 0.2);
  }

  &__list-voice-user-item-active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(51, 51, 51, 0.2);
    width: 40px;
    height: 40px;
    border-radius: 50px;

    & svg {
      fill: #000;
    }
  }

  &__list-voice-user-item-name {
    @include font(normal, 35px, 48px, #000);
    @include adaptiv-font(35, 25);
  }

  &__block-users {
    margin-top: 12px;
  }

  &__block-users-title {
    @include font(bold, 30px, 41px, #333);
    @include adaptiv-font(30, 20);
  }

  &__block-users-list {
    margin-top: 39px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 29px;
  }

  &__block-users-item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }

  &__block-users-photo {
    width: 105px;
    height: 105px;
    border-radius: 35px;
  }

  &__block-users-name {
    @include font(normal, 35px, 48px, #000);
    @include adaptiv-font(35, 20);
  }
}
/*-------- People End -------*/

/*-------- About Start -------*/

.about {
  margin-top: 70px;

  &__container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }
  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__info-title {
    display: flex;
    column-gap: 46px;
    justify-content: center;
    margin-top: 77px;
    align-items: center;
  }

  &__title {
    @include font(600, 30px, 41px, #000);
    @include adaptiv-font(30, 21);
  }

  &__user-bg {
    background-color: #f1efe5;
    border-radius: 50px 50px 0px 0px;
    margin-top: 54px;
    height: max-content;
  }

  &__user-container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
  }

  &__user-row {
    padding-top: 40px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__user-info {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__user-info-main {
    display: flex;
    column-gap: 54px;
    align-items: center;
  }

  &__user-info-main-photo {
    width: 120px;
    height: 120px;
    border: 1.875px solid rgba(0, 0, 0, 0.2);
    border-radius: 35px;
  }

  &__user-info-username {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__username {
    @include font(bold, 42px, 57px, #000);
    @include adaptiv-font(42, 21);
  }

  &__logname {
    @include font(normal, 30px, 41px, #333);
    @include adaptiv-font(30, 21);
  }

  &__user-button-follow {
    width: 300px;
    height: 70px;
    border: 6px solid #5b75a6;
    border-radius: 45px;
    background: unset;
    @include font(600, 30px, 41px, #5b75a6);
    @include adaptiv-font(30, 21);
  }

  &__user-bio {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__user-bio-info {
    @include font(600, 30px, 41px, #333);
    @include adaptiv-font(30, 21);
  }

  &__user-subscripe {
    flex: 0 0 40%;
    display: flex;
    justify-content: end;
  }

  &__user-subscripe-info {
    background: #ffffff;
    border-radius: 30px;
    width: 411.6px;
    height: 114px;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
  }

  &__user-followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
  }

  &__user-followers-count {
    @include font(bold, 42px, 57px, #333);
    @include adaptiv-font(42, 21);
  }

  &__user-followers-title {
    @include font(normal, 30px, 41px, #333);
    @include adaptiv-font(30, 21);
  }

  &__user-following {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
  }

  &__user-following-count {
    @include font(bold, 42px, 57px, #333);
    @include adaptiv-font(42, 21);
  }

  &__user-following-title {
    @include font(normal, 30px, 41px, #333);
    @include adaptiv-font(30, 21);
  }
}

/*-------- About End -------*/

/*-------- Developer Block Start -------*/
.link-login {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  flex-direction: column;
  &__next {
    @include font(600, 30px, 41px, #000000);
    @include adaptiv-font(30, 10);
    &:hover {
      color: #fff;
    }
  }
}
/*-------- Developer Block End -------*/

main {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

    &.active {
      display: none;
    }
  }

  &__button-open-pop-up {
    display: block;
    height: 34px;
    padding: 9px 10px;
    border-radius: 10px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    font-family: TimesNewRomanPSMT;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 15px;
    color: #000;

    &.active {
      display: none;
    }
    &:hover {
      background-color: #979797;
      color: #fff;
    }
  }
}

.__container-1 {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
}
/*-------- Main End -------*/

/*-------- Pop Up Start -------*/
.pop-up {
  top: 0;
  left: 0;
  position: absolute;
  display: none;
  opacity: 0; // Скрываем фон и сам попап
  pointer-events: none; // Запрещаем ему быть целью событий

  &.active {
    // При добавлении класса 'active'
    display: block;
    opacity: 1; // Показываем фон и попап
    pointer-events: all; // Возвращаем события
    transition: 0.5s all;
  }

  &__bg-container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 46px 39px;
    background: rgba(0, 0, 0, 0.5);
    @media (max-width: 1919px) {
      padding: 1vmax;
    }
  }

  &__dialog {
    max-width: 1842px;
    width: 700px;
    height: 699px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px 20px 20px 60px;
    position: relative;
    top: 8%;
    @media (max-width: 1879px) {
      padding: 1vmax;
    }
  }

  &__close {
    position: absolute;
    top: 46px;
    right: 42px;

    &:hover {
      cursor: pointer;
    }
    & svg:hover {
      transform: scale(1.1);
      transition: all 0.5s linear;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  &__title {
    @include font(bold, 42px, 57px, #000000);
    @include adaptiv-font(42, 20);
  }

  &__name-room {
    @include font(bold, 42px, 57px, #000000);
    @include adaptiv-font(42, 20);
    align-self: flex-start;
    width: 100%;
  }

  &__title-room-type {
    @include font(bold, 42px, 57px, #000000);
    @include adaptiv-font(42, 20);
  }

  &__room-type-list {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
  }

  &__room-type-item {
    width: 150px;
    height: 208px;
    background: #979595;
    color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #5b75a6;
    }
  }

  &__type-bg {
    width: 115px;
    height: 105px;
    background: #ffffff;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__room-type-name {
    @include font(600, 35px, 48px, #fff);
    @include adaptiv-font(35, 20);
  }

  &__title-button {
    @include font(bold, 42px, 57px, #000000);
    @include adaptiv-font(42, 20);
  }

  &__button-create {
    width: 250px;
    height: 70px;
    background: #55ab67;
    border-radius: 50px;
    @include font(600, 30px, 41px, #fff);
    @include adaptiv-font(30, 20);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
}

.body {
  overflow-y: scroll;
}

.body.active {
  overflow-y: hidden;
}
